---
const path = Astro.url.pathname;

const nav = [
	{
		href: "/",
		title: "Accueil",
	},
	{
		href: "/jouer/",
		title: "Jouer",
	},
	{
		href: "/contribuer/",
		title: "Contribuer",
	},
	{
		href: "/apropos/",
		title: "À propos",
	},
];
---

<nav>
	{
		nav.map(n => {
			if (n.href === path) {
				return <a class="active" href={n.href}><h1>{n.title}</h1></a>;
			} else {
				return <a href={n.href}>{n.title}</a>;
			}
		})
	}
</nav>

<style lang="scss">
	@import "../styles/_colors.scss";
	@import "@fontsource-variable/handjet";

	nav {
		font-family: "Handjet Variable", system-ui;
		font-weight: 600;

		margin-top: 0;
		list-style: none;
		display: flex;

		text-wrap: nowrap;

		flex-direction: row;
		justify-content: space-evenly;

		@media (max-width: $medium) {
			flex-direction: column;
			gap: 1ch;
		}

		a {
			user-select: none;
			text-decoration: none;
			color: white;
			font-size: 26px;

			padding: 0.1em 2em;
			background-color: $gray;
			border-style: double;
			border-width: 4px;
			height: min-content;

			transition: all 0.3s;

			@media (max-width: $medium) {
				text-align: center;
			}

			&.active,
			&:hover {
				background-color: $brown;
				border-color: $gold;
			}

			h1 {
				margin: 0;
				font-size: inherit;
			}
		}
	}
</style>
