---
import BaseLayout from "./BaseLayout.astro";
import "../styles/main.scss";
import Navbar from "../components/Navbar.astro";

const { title, description } = Astro.props;
---

<BaseLayout {title} {description}>
	<main>
		<Navbar />
		<slot />
	</main>
</BaseLayout>
